<section class="contact section">
    <h2 class="section__title">Contactame</h2>
    <span class="section__subtitle">Ponte en contacto</span>
    <div class="contact__container containerPersonal grid">
        <div>
            <div class="contact__information">
                <i class="fas fa-phone contact__icon"></i>
                <div>
                    <h3 class="contact__title">LLamame</h3>
                    <span class="contact__subtitle">999-777-666</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-envelope contact__icon"></i>
                <div>
                    <h3 class="contact__title">Correo</h3>
                    <span class="contact__subtitle">jose@jose.com</span>
                </div>

            </div>

            <div class="contact__information">
                <i class="fas fa-map-marker-alt contact__icon"></i>
                <div>
                    <h3 class="contact__title">Ubicacion</h3>
                    <span class="contact__subtitle">Ecuador-Milagro Av. Garcia Moreno Y Pelileo</span>
                </div>

            </div>
        </div>
        <form action="" class="contact__form grid">
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Nombre</label>
                    <input type="text" class="contact__input">
                </div>
                <div class="contact__content">
                    <label for="Nombre" class="contact__label">Correo</label>
                    <input type="email" class="contact__input">
                </div>
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Proyecto</label>
                <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
                <label for="Nombre" class="contact__label">Mensaje</label>
                <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
            </div>
            <div>
                <a href="" class="button button--flex">
                    Enviar mensaje
                    <i class="fas fa-comment-dots button__icon"></i>
                </a>
            </div>
        </form>

    </div>
</section>