<section class="portfolio">
    <h2 class="section__title">Portafolio</h2>
    <span class="section__subtitle">Trabajos mas recientes</span>

    <div class="portfolio__container containerPersonal swiper-container">
        <!-- [navigation]="{ nextEl: '.carousel-next', prevEl: '.carousel-previous' }" -->



        <div class="swiper-wrapper">

            <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/portfolio1.jpg" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Sitio web moderno</h3>
                        <p class="portfolio__description"> Sitio web adaptable para todos los dispositivos, con
                            componentes
                            ui e interacciones animadas.</p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

            </div>


            <!-- portfolio 2 -->
            <div class="swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/portfolio2.jpg" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Diseño de la marca</h3>
                        <p class="portfolio__description"> Sitio web adaptable para todos los dispositivos, con
                            componentes
                            ui e interacciones animadas.</p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

            </div>


            <!-- portfolio 3 -->
            <div class=" swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/portfolio1.jpg" alt="" class="portfolio__img">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Tienda en linea</h3>
                        <p class="portfolio__description"> Sitio web adaptable para todos los dispositivos, con
                            componentes
                            ui e interacciones animadas.</p>
                        <a href="" class="button button--flex button--small portfolio__button">
                            Demo
                            <i class="fas fa-arrow-right button__icon"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <div class="swiper-button-prev"><i class="fas fa-angle-left swiper-portfolio-icon"></i></div>
        <div class="swiper-button-next"><i class="fas fa-angle-right swiper-portfolio-icon"></i></div>
        <div class="swiper-pagination"></div>

    </div>
    <!-- <i class="carousel-prev fas fa-user uil uil-angle-left-b" role="button" aria-label="Next slide"></i> -->






</section>