<section class="about section">
    <h2 class="section__title">Acerca de mi</h2>
    <span class="section__subtitle">Mi Introduccion</span>
    <div class="about__container containerPersonal grid">
        <img src="assets/img/about.jpg" alt="" class="about__img">
        <div class="about__data">
            <p class="about__descripcion">
                Desarrollador web con experiencia en backend y frontend y tecnologias de diseño y publicidad.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">08+</span>
                    <span class="about__info-name">Años <br> Experiencia</span>
                </div>
                <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Proyectos <br> Completados</span>
                </div>


            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/Alexa-Cv.pdf" class="button button--flex">
                    Descargar CV <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>